body{
 text-align: center;
}
table{
    width: 400px;
    height: 400px;
    border: 10px solid darkgray;
    background-color: lightgray;
    margin: 0 auto;
    

    td{
        
        size: 500px;
        border: 5px solid gray;
        background-color: grey;
        color: lightgray;
        text-align: center;
        font-size: medium;
    }
    tr{
        border: 5px solid grey;
    }
}
button{
    border-radius: 10px;
    
    text-align: center;
}